/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffffff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

h1{
	background-color: #B84E37;
	color: #ffffff;
	margin: 0;
}

header, nav, button img{
	max-height: 1em;
}

header, nav, button{
	background-color: none;
	border: none;
}

 