/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--color-text: #111;
	--color-text2: #ffff;
	--color-background: #ffffff;
	--color-primary: #a72608;
	--color-carrousel: #908f8f5f;
	--color-bgFooter: #f1f1f1;
	--color-search: #470024;

	--color-text-dark: #f1f1f1;
	--color-background-dark: #111111;
	--color-primary-dark: #ff6b5c;
	--color-carrousel-dark: #5f5f5f5f;
	--color-bgFooter-dark: #222222;
	--color-search-dark: #ff6b5c;

	--base-font-size: 100%;
}

html {
	font-size: 62.5%;
}

.dark-mode {
	--color-text: var(--color-text-dark);
	--color-background: var(--color-background-dark);
	--color-primary: var(--color-primary-dark);
	--color-carrousel: var(--color-carrousel-dark);
	--color-bgFooter: var(--color-bgFooter-dark);
	--color-search: var(--color-search-dark);
}

@font-face {
	font-family: Questrial;
	src: url(questrial_n4.e86c53e77682db9bf4b0ee2dd71f214dc16adda4.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Questrial", sans-serif;
	font-size: 1em;
	margin: 0;
	line-height: 1.4em;
	background-color: var(--color-background);
	font-size: var(--base-font-size);
}

h2,h3,h4,p {
	color: var(--color-text);
	font-size: var(--base-font-size);
}

a {
	color: var(--color-primary);
	font-size: 1.4rem;
}

header {
	width: 100%;
	margin: 0;
	position: sticky;
	top: 0;
	z-index: 200;
	background-color: var(--color-background);
	padding-bottom: 1rem;
}

header h1 {
	background-color: var(--color-primary);
	color: var(--color-text2);
	text-align: center;
	font-size: 1.3rem;
	padding: 1rem;
	margin: 0;
	font-weight: lighter;
}

header>nav {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 2rem;
}

header>nav button:first-child {
	display: flex;
	justify-content: start;
	background: none;
	border: none;
	height: 2.3em;
	padding: 0;
	margin: 0;
}

header>nav>a {
	justify-content: start;
	height: 1.5em;
	width: auto;
	display: flex;
	border: none;
}

header>nav>div+button,
header>nav>div+button+button {
	display: flex;
	position: relative;
	background: none;
	border: none;
	height: 2.3em;
	width: 2.3em;
}

header>nav>div+button+button {
	margin-right:1em; 
}

header>nav>div+button{
	margin-left: auto;
}

header form {
	display: flex;
	justify-content: center;
	max-height: 4rem;
	padding: 0.5rem 2rem;
}

header form label {
	display: flex;
	width: 95%;
	border: 0.1rem var(--color-search);
	border-radius: 0.3rem;
	overflow: hidden;
}

header form label span {
	position: absolute;
	width: 0.1rem;
	height: 0.1rem;
	padding: 0;
	overflow: hidden;
}

header form input {
	flex: 1;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
}

header form button {
	background-color: var(--color-search);
	border: none;
	padding: 0 1.3rem;
	cursor: pointer;
}

header form button img {
	height: 1.8em;
}

header>button#theme-toggle,
header>button:last-of-type {
	background-color: none;
	border: none;
}

header>button#theme-toggle>img,
header>button:last-of-type>img {
	height: 2rem;
}

#menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: var(--color-background);
	translate: -100% 0;
	transition: translate .3s;
	padding: 2rem;
	z-index: 300;
	gap: 1.5rem;
}

#menu.toonMenu {
	translate: 0 0;
}

#menu-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
}

#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

#menu ul li a {
	text-decoration: none;
	color: var(--color-text1);
	font-size: 1.5rem;
	font-weight: lighter;
	padding: 1rem;
	border-radius: 0.3rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

#menu ul li {
	border-top: 0.5px solid #908f8f;
}

@media (min-width: 38em) {
	#menu {
		position: static;
		translate: unset;
		background: none;
	}

	#menu-open,
	#menu-close {
		display: none;
	}

	#menu ul {
		display: flex;
		gap: 1rem;
	}
}

/* VANAF HIER BEGINT DE MAIN VAN DE HOMEPAGINA	  */

h2 {
	font-size: large;
}

h4 {
	font-weight: bold;
	font-size: 2rem;
}

h4 sup {
	font-size: 1.2rem;
	margin-left: 0.1rem;
}


button {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
	transform: scale(1.1);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (prefers-reduced-motion: reduce) {
	button,
	article {
		transition: none;
	}

	button:hover,
	button:active,
	article:hover,
	article:active {
		transform: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}
}

article:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#homePagina>ul:first-of-type>li>img {
	width: 100%;
}

#homePagina>ul:first-of-type,
#homePagina>div:nth-of-type(2){
	position: relative;
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	list-style-type: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	padding: 0;
	margin: 0;
}

#homePagina>ul:first-of-type>li,
#homePagina>div:nth-of-type(2)>a {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}


#homePagina>ul:first-of-type,
#homePagina>div:nth-of-type(2),
#productPagina>div{
		scrollbar-width: none;
		scroll-marker-group: after;
	}

#homePagina>ul:first-of-type::scroll-marker-group,
#homePagina>div:nth-of-type(2)::scroll-marker-group,
#productPagina>div::scroll-marker-group {
		height: 3em;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		row-gap: .25em;
		column-gap: .5em;
	}

#homePagina>ul:first-of-type>li::scroll-marker,
#productPagina>div>article::scroll-marker{
		content:attr(data-label);
		width: 1em;
		height: 1em;
		aspect-ratio: 1;
		background-color: rgb(227, 227, 227);
		border-radius: 50%;
	
	}

#homePagina>ul:first-of-type>li::scroll-marker:target-current,
#homePagina>div:nth-of-type(2)>a::scroll-marker:target-current,
#productPagina>div>article::scroll-marker:target-current {
		background: rgb(185, 184, 184);
	}

#homePagina>div:first-of-type {
	position: absolute;
	top: 49rem;
	left: 50%;
	display: flex;
	transform: translate(-50%);
	gap: .8em;
	margin-top: .8rem;
	z-index: 10;
}

#homePagina>div:first-of-type>button {
	width: 1.2rem;
	height: 1.2rem;
	background: var(--color-carrousel);
	border-radius: 80%;
	border: #908f8f;
	cursor: pointer;
	display: block;
	margin: 0 .2rem;
	padding: 0;
	line-height: 0;
	box-sizing: border-box;
}

#homePagina>div:first-of-type>button:hover {
	background: rgb(255, 255, 255);
}

/* 2e,6e,10e & 12e blokje*/
#homePagina section,
#productPagina section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 1rem;
	position: relative;
}

#homePagina section h2,
#productPagina section h2 {
	display: inline-block;
	margin: 0;
}

.section1>a {
	position: absolute;
	right: 1rem;
	top: 2%;
	color: var(--color-primary);
}

.section1>a>p,
.section2>a>p {
	color: var(--color-primary);
}

.section1>div {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	padding-bottom: 1rem;
}

.section1>div>article{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 0 calc(50% - 1rem);
	scroll-snap-align: start;
	border: .1rem solid #ddd;
	padding: 0.5rem;
	text-align: center;
	position: relative;
	margin: 0;
}

.section1>div>article>button:first-of-type{
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	background: none;
	border: none;
	cursor: pointer;
	width: 2em;
	height: auto;
	z-index: 8;
}

.section1>div>article>button:first-of-type img {
	width: 2rem;
	height: auto;
}

.section1>div>article img{
	width: 100%;
	height: auto;
	z-index: 7;
}

.section1>div>article h3 {
	font-weight: normal;
	font-size: 1.8rem;
	min-height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.section1>div>article p {
	font-weight: lighter;
	font-size: 1.5rem;
	min-height: 3.5em;
	line-height: 1.4em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.section1>div>article h4 {
	margin-top: auto;
	margin-bottom: 0;
}

.section1>div>article>button:last-of-type {
	background: none;
	border: 1px solid #ccc;
	padding: 1rem;
	cursor: pointer;
	margin: 1rem;
	font-size: 1rem;
	color: var(--color-primary);
}

#homePagina>section:nth-of-type(10)>div>article>button:last-of-type {
	background-color: var(--color-primary);
	border-radius: .4rem;
	border: none;
	padding: 1rem;
	cursor: pointer;
	margin: 1rem;
	font-size: 1rem;
	color: var(--color-background);
}

.section1>button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	width: 3em;
	height: 3em;
	cursor: pointer;
}

.section1>button:first-of-type {
	left: 0;
}

.section1>button:last-of-type {
	right: 0.5em;
}

.section1>button img {
	width: 2.5em;
	height: auto;
}

/* 3e Blokje*/
#homePagina>div:nth-of-type(2)>a>img {
	width: 100%;
	 height: auto; } 


#homePagina>div:nth-of-type(2)>a::scroll-marker {
	content:attr(data-label);
	width: .8em;
	height: .8em;
	aspect-ratio: 1;
	background-color: rgb(227, 227, 227);
	border-radius: 50%;
}

/*4e,7e,9e blokje*/
.section2 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	padding: 2rem 1rem;
	position: relative;
}

.section2 article img {
	width: 100%;
	margin: 1rem;
	padding: 1rem;
}

.section2 h2 {
	margin: 0;
	font-size: 1.7rem;
}

.section2 h3 {
	display: inline-block;
	margin: 0;
	font-size: 1.8rem;
	font-weight: normal;
}

.section2>a {
	position: absolute;
	right: 1em;
	top: 3%;
}

.section2>div {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	padding-bottom: 1rem;
	position: relative;
}

.section2 > div::scroll-button(*),
.section1 > div::scroll-button(*) {
	width: 3em;
	aspect-ratio: 1;
	margin: 1em 0 0;
	padding: 0;
	background-color: var(--color-background);
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	border-radius: 50%;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}

.section2 > div::scroll-button(right),
.section1> div::scroll-button(right) {
	content: '>' / 'Next';
	right: clamp(1.5rem, 5vw, 2rem);
}
  

.section2 > div::scroll-button(left),
.section1>div::scroll-button(left) {
	content: '<' / 'Previous';
	left: clamp(1.5rem, 5vw, 2rem);
}
  

.section2 > div::scroll-button(*):disabled,
.section1> div::scroll-button(*):disabled {
	opacity: .5;
	cursor: not-allowed;
}
  

.section2>div>article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0 0 calc(50% - 1rem);
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}

/*5e blokje, lola young*/
#homePagina>section:nth-of-type(3) img {
	width: 100%;
}

#homePagina>section:nth-of-type(3) {
	margin: 20px;
}

#homePagina>section:nth-of-type(3)h2 {
	font-size: 1.5rem;
}

#homePagina>section:nth-of-type(3)>a {
	font-weight: lighter;
	font-size: 1.5rem;
}

#homePagina>section:nth-of-type(3)>p {
	font-weight: lighter;
	font-size: 1.7rem;
	line-height: 1.2em;
}

#homePagina>section:nth-of-type(3)>button {
	width: 100%;
	background-color: var(--color-primary);
	color: var(--color-background);
	border: none;
	height: 4em;
	border-radius: .4rem;
	font-weight: lighter;
	font-size: small;
	margin-bottom: 2rem;
}

#homePagina>section:nth-of-type(6) {
	padding: 4rem;
}

#homePagina>section:nth-of-type(6)>h2 {
	font-size: 2.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.05em;
}

#homePagina>section:nth-of-type(6)>p {
	font-size: 1.5rem;
	font-weight: lighter;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#homePagina>section:nth-of-type(6) form {
	display: flex;
	justify-content: center;
	height: 4.5rem;
	margin: 1.7rem;
}

#homePagina>section:nth-of-type(6) form label,
footer>form label {
	display: flex;
	width: 95%;
	border: .1rem var(--color-primary);
	border-radius: .3rem;
	overflow: hidden;
}

#homePagina>section:nth-of-type(6) form label span,
footer>form label span {
	position: absolute;
	width: .1rem;
	height: .1rem;
	padding: 0;
	margin: -1rem;
	overflow: hidden;
}

#homePagina>section:nth-of-type(6) form input,
footer>form input {
	flex: 1;
	padding: .5rem 1rem;
	font-size: 1.5rem;
}

#homePagina>section:nth-of-type(6) form button,
footer>form button {
	background-color: var(--color-primary);
	color: var(--color-background);
	border: none;
	padding: 0 1.3rem;
	cursor: pointer;
}

#homePagina>div:nth-of-type(3) h2 {
	font-size: 1.6rem;
	font-weight: normal;
}

#homePagina>div:nth-of-type(3) p {
	font-size: 1.4rem;
	font-weight: normal;
	padding: 0 3rem;
}

#homePagina>div:nth-of-type(3) img {
	height: 7.5em;
}

#homePagina>div:nth-of-type(3) {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	gap: 1em;
	margin: 2rem;
}

#homePagina>div:nth-of-type(3)>article {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#homePagina>section:nth-of-type(11)>a>img,
#homePagina>section:nth-of-type(12)>a>img {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

#homePagina>section:nth-of-type(11),
#homePagina>section:nth-of-type(12) {
	margin: 2rem;
	position: relative;
	text-align: center;
	color: white
}

#homePagina>section:nth-of-type(11)>h2,
#homePagina>section:nth-of-type(12)>h2 {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 3rem;
	font-size: 2.3rem;
	color: var(--color-text2);
}

/*https://www.w3schools.com/howto/howto_css_image_text.asp*/

/* product pagina */
#productPagina {
	margin: 1rem;
}

#productPagina section:nth-of-type(1)>img {
	width: 80%;
	display: block;
	margin: 0 auto;
	padding-bottom: 1rem;
}

#productPagina section:nth-of-type(1)>h2 {
	font-size: 2.7rem;
	font-weight: normal;
}

#productPagina section:nth-of-type(1)>article>h3 {
	font-size: 1.9rem;
	font-weight: lighter;
}

#productPagina section:nth-of-type(1)>article>ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
	justify-content: flex-start;
	display: inline-flex;
	vertical-align: middle;
}

#productPagina section:nth-of-type(1)>article>ul>li>img {
	max-height: 1.7em;
}

#productPagina section:nth-of-type(1)>article>p {
	font-size: 1.5rem;
	font-weight: lighter;
	line-height: 1.5em;
}

#productPagina section:nth-of-type(1)>article>p:first-of-type {
	display: inline-block;
	margin-left: 0.5rem;
	vertical-align: middle;
}

#productPagina section:nth-of-type(1)>article:nth-of-type(2)>h5 {
	font-size: 1.5rem;
	font-weight: normal;
}

#productPagina section:nth-of-type(1)>article:nth-of-type(2)>button {
	width: 100%;
	background-color: var(--color-primary);
	color: var(--color-background);
	border: none;
	height: 3.5em;
	border-radius: .4rem;
	font-weight: lighter;
	font-size: small;
	margin-bottom: 2rem;
}

#productPagina section:nth-of-type(1)>article:nth-of-type(2)>p {
	font-size: 1.5rem;
	font-weight: lighter;
	margin: 0;
}

#productPagina section:nth-of-type(1)>article:nth-of-type(2)>p>a {
	font-size: 1.5rem;
	font-weight: normal;
	text-decoration: none;
}

#productPagina details>summary {
	font-size: 1.5rem;
	font-weight: normal;
	list-style: none;
	padding-right: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem;
}

summary::before {
	content: "+";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-weight: normal;
	font-size: 1.2em;
	color: black;
	pointer-events: none;
	transition: transform 0.3s;
}

details[open] summary::before {
	content: "-";
}

#productPagina details {
	background-color: none;
	color: var(--color-text);
	cursor: pointer;
	padding: .5rem;
	width: 100%;
	text-align: left;
	border-top: .1rem solid var(--color-carrousel);
	outline: none;
	transition: 0.4s;
}

#productPagina>section>details p {
	font-size: 1.5rem;
	line-height: 1.6em;
	font-weight: lighter;
}

#productPagina>section>details>ul>li {
	font-size: 1.2rem;
	line-height: 1.6em;
	font-weight: lighter;
}

/*https://www.w3schools.com/howto/howto_js_accordion.asp*/

th,
td {
	font-size: 1.5rem;
	font-weight: lighter;
	border-bottom: .1rem solid var(--color-carrousel);
	padding: .5rem 2rem;
}

#productPagina section:nth-of-type(1)>button:last-of-type {
	font-weight: 1rem;
	background: none;
	border-style: none;
	color: var(--color-primary);
}

#productPagina section:nth-of-type(1)>button:last-of-type>img {
	height: 1rem;
	margin-right: 1rem;
}

#productPagina>div {
	display: flex;
	gap: 1rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	margin: 2rem;
	position: relative;
	text-align: center;
	color: var(--color-text2);
}

#productPagina>div>article {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
	position: relative;
}

#productPagina>div>article>img {
	width: 100%;
	object-fit: cover;
}

#productPagina>div>article>h2 {
	position: absolute;
	width: 90%;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 3rem;
	font-size: 1.5rem;
	color: var(--color-text2);
}

#productPagina>div>article>h3 {
	position: absolute;
	width: 90%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 3rem;
	font-size: 2.3rem;
	color: var(--color-text2);
}

#productPagina>div>article>button {
	position: absolute;
	width: 60%;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	line-height: 3rem;
	font-size: 1.3rem;
	background: none;
	border: .2rem solid var(--color-text2);
	color: var(--color-text2);
}


/* footer */
footer {
	background-color: var(--color-bgFooter);
	color: var(--color-text);
	padding: 3rem 2rem;
	gap: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

footer ul {
	list-style: none;
}

footer>button:first-of-type {
	background-color: transparent;
	border: none;
	color: var(--color-text);
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.3s;
	display: block;
	margin: 0 auto;
}

footer>form {
	display: flex;
	justify-content: center;
	height: 4rem;
	width: 100%;
}

footer ul:nth-of-type(1)>li>a>img {
	height: 1.5em;
}

footer nav:first-of-type>ul {
	display: flex;
	align-items: flex-end;
	gap: 1rem;
	padding: 0;
}

footer>section:nth-of-type(2)>ul,
footer>nav:nth-of-type(2)>ul {
	text-align: left;
	margin: 0;
	padding: 0;
}

footer nav ul>li>a {
	color: var(--color-text);
	gap: 1rem;
	text-decoration: none;
	line-height: 2rem;

}

footer>section>h4 {
	font-size: 1.5rem;
	font-weight: normal;
}


footer>section>p,
footer section:nth-of-type(2)>ul>li {
	font-size: 1.5rem;
	font-weight: lighter;
	line-height: 2rem;
}

footer>ul:last-of-type {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-start;
}

footer>ul:last-of-type>li img {
	max-height: 3em;
	margin-top: 1rem;
	display: block;
}

footer>div>img {
	max-width: 15em;
}

footer>div {
	margin-left: auto;
	align-self: flex-end;
}