/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#ffffff;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
	font-family: Questrial, sans-serif;
	src: url(questrial_n4.e86c53e77682db9bf4b0ee2dd71f214dc16adda4.woff);
    font-weight: 400;
    font-style: normal;
  }

body{
	font-family: "Questrial", sans-serif;
	font-size: 15px;
}


header{
	width: 100%;
	margin: 0;
}

header h1 {
	background: #a72608;
	color: #fff;
	text-align: center;
	font-size: 1rem;
	padding: 0.4rem;
	margin: 0;
  }


/* Selecteren van buttons */
header > nav button:first-child {
    display: flex;
    position: relative;
	background: none;
	border: none;
	height: 23px;
	width: 23px;
}

header > nav button:nth-child(2) img {
    max-height: 25px;   
    display: flex;    
    width: auto;
	border: none;
}

header > nav button:nth-child(3) {
    display: flex;
    position: relative;
	background: none;
	border: none;
	height: 23px;
	width: 23px;
}

header > nav button:nth-child(4) {
    display: flex;
    position: relative;
	background: none;
	border: none;
	height: 23px;
	width: 23px;
}

header > nav{
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

header form {
    display: flex;
	justify-content: center;
	max-height: 40px;
	margin: 10px;
}

header form input {
    padding: 5px 10px;
    font-size: 1rem;
	width: 90%;
}





 